@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai Looped", sans-serif,Bold;
    font-size: 14px;
}

body {
    font-family: sans-serif; /* เลือกฟอนต์ที่ใกล้เคียง */
    background-image: url('./images/1.jpg'); /* ใส่ภาพพื้นหลัง */
    background-size: cover;
    color: white; /* สีตัวหนังสือ */
    text-align: center;
  }
  
  header {
    padding: 50px; /* ปรับระยะห่าง */
  }
  
  h1 {
    font-size: 3em; /* ปรับขนาด */
    margin-bottom: 20px;
  }
  
  /* Search Section */
  .search-section {
    background-color: rgba(255, 255, 255, 0.8); /* พื้นหลังโปร่งแสง */
    padding: 30px;
    border-radius: 10px; /* ขอบมน */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px; /* ระยะห่างระหว่างปุ่ม */
  }
  
  .search-bar button, .search-bar input {
    padding: 10px;
    border: none;
  }
  
  .search-button {
    background-color: #4CAF50; /* สีเขียว */
    color: white;
  }
  
  .search-tags button {
    background-color: transparent; /* ไม่มีพื้นหลัง */
    color: #333; /* สีเทาเข้ม */
    border: none;
    margin: 10px 5px;
  }
  